DATABASE_URL="postgresql://postgres:2007@localhost:5432/Revora"
PORT=5000
NODE_ENV="development"
CLIENT_URL="http://localhost:5173"
JWT_SECRET="revora_super_secret_jwt_key_2026_change_in_prod"
JWT_EXPIRES_IN="7d"
